.homecategory {
  padding-bottom: 80px;
}
.sectiontitle h2 {
  font-size: 22px;
  margin-bottom: 40px;
  font-weight: 700;
  line-height: 1;
}
.cateimage {
  text-align: center;
  padding: 10px;
}
.cateimage a {
  width: 140px;
  height: 140px;
  position: relative;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 100%;
}
.cateimage span {
  margin-top: 10px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.cateimage p {
  color: #f5ab1e;
  margin-top: 3px;
}
