.headerelement a {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.shopelement {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.shopelement li {
  display: inline-block;
  margin-left: 20px;
}
.shopelement li a {
  display: block;
  font-size: 30px;
  line-height: 0;
  cursor: pointer;
  position: relative;
}
.navmain {
  margin-left: auto;
}
.navmain ul li a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: #222 !important;
}
.navmain ul li a:hover {
  color: #fff !important;
}
.dropdown-menu li a {
  font-size: 15px;
}
.right_cart {
  display: flex;
  align-items: center;
}

.navbar_toggler {
  padding: 0.25rem 0.4rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  display: none;
}

@media (max-width: 991px) {
  .navbar_toggler {
    display: block;
  }
}
@media (max-width: 767px) {
  .navbar_toggler {
    display: block;
  }
  .navmain ul li a {
    padding: 0.5rem 1rem !important;
  }
  .shopelement li {
    margin-left: 10px;
  }
}
