@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: normal;
}
p {
  margin: 0px;
  font-size: 14px;
}
ul,
li,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.header-main-area .navbar {
  padding: 25px 0px;
  background: #f5ab1e !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  color: #fff;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #f5ab1e;
  position: absolute;
  bottom: 50%;
  z-index: 2;
  color: #fff;
  width: 35px !important;
  height: 35px !important;
  font-size: 20px;
  border-radius: 3px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #222;
}
.category {
  padding-top: 60px !important;
  margin-top: -60px;
}
.category div.swiper-button-prev {
  position: absolute;
  top: 23px;
  right: 45px;
  left: auto;
}
.category div.swiper-button-next {
  top: 23px;
  right: 5px;
}
.productSliderin {
  padding-top: 60px !important;
  margin-top: -60px;
}
.productSliderin div.swiper-button-prev {
  position: absolute;
  top: 23px;
  right: 45px;
  left: auto;
}
.productSliderin div.swiper-button-next {
  top: 23px;
  right: 5px;
}
.recentSliderin {
  padding-top: 60px !important;
  margin-top: -60px;
}
.recentSliderin div.swiper-button-prev {
  position: absolute;
  top: 23px;
  right: 45px;
  left: auto;
}
.recentSliderin div.swiper-button-next {
  top: 23px;
  right: 5px;
}
.f-link-ul {
  margin-top: 25px;
}
.f-link-ul.collapse:not(.show) {
  display: block;
}
.all_filter .all-option {
  display: block;
}
.all_filter .all-price {
  display: block;
}
.all_filter .all-size {
  display: block;
}
.all_filter .all-tag {
  display: block;
}
.all_filter .all-vendor {
  display: block;
}
.all_button {
  position: relative;
  color: #fff;
  font-size: 14px;
  padding: 10px 30px;
  background-color: #f5ab1e;
  font-weight: 600;
  border: 2px solid #f5ab1e;
  border-radius: 3px;
  border-color: #f5ab1e;
  margin-top: 20px;
  display: inline-block;
}
.all_button:hover {
  background-color: transparent;
  color: #f5ab1e;
}
.mini_cart {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 16px 26px -10px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}
.mini_cart.active {
  right: 0px;
  opacity: 1;
  visibility: visible;
}
.search-model .modal.fade {
  padding-right: 0px !important;
}
.search-model .modal.fade .modal-dialog {
  margin: 0px;
  max-width: 100%;
}
.search-model .modal.fade .modal-dialog .modal-content {
  background-color: #fff;
  border: none;
  border-radius: 0px;
}
.search-model .modal.fade .modal-dialog .modal-content .modal-body {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
.search-model
  .modal.fade
  .modal-dialog
  .modal-content
  .modal-body
  .search-content {
  display: flex;
  align-items: center;
}
.search-model
  .modal.fade
  .modal-dialog
  .modal-content
  .modal-body
  .search-content
  .search-engine {
  width: 100%;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.search-model
  .modal.fade
  .modal-dialog
  .modal-content
  .modal-body
  .search-content
  .search-engine
  input {
  height: 40px;
  width: 100%;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  padding: 10px 15px;
}
.search-model
  .modal.fade
  .modal-dialog
  .modal-content
  .modal-body
  .search-content
  .search-engine
  button.search-btn {
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: 0;
  height: 100%;
  width: 40px;
  background-color: #222;
  border: none;
  border-radius: 3px;
  line-height: 0;
}
.search-model
  .modal.fade
  .modal-dialog
  .modal-content
  .modal-body
  .search-content
  button.close {
  float: none;
  display: block;
  background-color: transparent;
  color: #000;
  font-size: 18px;
  margin-left: 10px;
  opacity: 1;
  line-height: 0;
  border: none;
}
input,
select,
textarea {
  padding: 10px 15px;
  border: 1px solid #e2e2e2;
  border-radius: 0;
}
.rc-pagination-prev button::after {
  content: "<";
  display: block;
}
.rc-pagination-next button::after {
  content: ">";
  display: block;
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    background-color: #f5ab1e;
    left: 0px;
    width: 100%;
  }
}
